@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(44, 139, 44);
    background: #F8F9FF;
    font-family: "Press Start 2P"; 
}

.div-title-inGame {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 391px;
    height: 144px;
    margin-bottom: 10px;
}

.div-title-inGame .img-title-inGame {
    width: 139px;
    height: 144px;
    margin-right: 10px;
}

.div-title-inGame .title-inGame {
    font-family: 'Press Start 2P', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;

    color: #1E7200;
}